body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
}
nav h3 {
    margin: 0;
    padding: 6px;
}
header .logo {
    width: 50px;
    vertical-align: middle;
}
header h3 {
    display: inline;
    vertical-align: middle;
    margin: 0;
}
main {
    margin: 20px 0;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
    margin-top: 20px;
}
